<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website that can recognize your food.">
    <meta name="author" content="2Feed1Food Team">
    <title>2 Feed 1 Food</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='assets/css/assets.min.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static' , filename='assets/css/app.min.css') }}">
</head>
<body class="p-0">
{% include 'blocks/header.twig' %}

{% include 'blocks/search-bar.twig' %}
<script src="{{ url_for('static',filename='assets/js/assets.min.js') }}" ></script>
<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
</body>
</html>
