<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        
        <div class="col-8">
            <div class="card shadow-lg">
                <div class="card-header">
                    2 food 1 feed vient de débarquer sur le web!
                </div>
                <div class="card-body">
                    <h5 class="card-title">Découvrer la data-science</h5>
                    <p class="card-text">Ci dessous différents graphiques sur les valeurs nutritives</p>
                    <p class="card-text">Essayez de rentrer un produit dans la barre de recherche</p>
                </div>

            </div>
        </div>

        <div class="col-2"></div>
    </div>
</div>