<footer class="fixed-bottom">
    <div class="row">
        <div class="col-6">
            <div class="container-fluid card-footer">
                <div class="col-sm">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item active">Authors</li>
                        <li class="list-group-item">Tresgots Thomas</li>
                        <li class="list-group-item">Réda Maizate</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6">
            <p>Other stuff</p>s
        </div>
    </div>
</footer>