<nav class="navbar sticky-top navbar-light bg-light shadow bg-body">
    <div class="container-fluid">

        <div class="col">
            <img src="{{ url_for('static' , filename='images/icon.png') }}" author="logomakr.com" width="80"
                alt="project's logo" title="logo made with logomakr.com">
        </div>
        <div class="col">

            <div class="text-center">
                <div class="h1 text-center" id="brandNameFont">2 Feed 1 Food</div>
            </div>
        </div>
        <div class="col ">
            <div class="navbar-nav">
                <ul class="nav list-inline justify-content-center">
                    <li class="list-inline-item text-center"><a href="/index" class="btn btn-outline-dark btn-lg">Home</a></li>
                    <li class="list-inline-item text-center"><a href="/ai" class="btn btn-outline-dark btn-lg">AI</a></li>
                    <li class="list-inline-item text-center"><a href="/score" class="btn btn-outline-dark btn-lg">Tableaux</a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>
