{#<header class="nav navbar-header shadow bg-body container-fluid">#}
{#    <img src="{{ url_for('static' , filename='images/icon.png') }}" author="logomakr.com"#}
{#         width="80" height="80" alt="project's logo" title="logo made with logomakr.com"#}
{#    class="d-inline-block">#}
{#    <h1 class="d-inline-block text-center">Welcome to the website of 2 Feed 1 Food!</h1>#}
{#</header>#}
{#<div class="container-fluid">#}
{#    <ul class="list-inline">#}
{#        <li class="list-inline-item"><a href="#"> Accueil</a></li>#}
{#        <li class="list-inline-item"><a href="#"> IA</a></li>#}
{#        </li>#}
{#    </ul>#}
{#</div>#}

<nav class="navbar sticky-top navbar-light bg-light shadow bg-body">
    <div class="float-start">
        <img src="{{ url_for('static' , filename='images/icon.png') }}" author="logomakr.com"
             width="80" height="80" alt="project's logo" title="logo made with logomakr.com">
    </div>
    <div class="text-center">
        <div class="h1 text-center" id="brandNameFont">2feed 1food</div>
    </div>
    <div></div>
</nav>
<div class="navbar-nav">
    <ul class="list-inline">
        <li class="list-inline-item text-center"><a href="#"> Accueil</a></li>
        <li class="list-inline-item text-center"><a href="#"> IA</a></li>
    </ul>
</div>