<div class="container">


    <nav class="navbar navbar-light justify-content-center">
        <form class="form-inline" onsubmit="return false">
            <input class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search"
                   id="searchQuery">
            <button class="btn btn-outline-success my-2 my-sm-0" id="searchBar">Search</button>
        </form>
    </nav>

</div>
