<div class="container">

    <nav class="navbar navbar-light justify-content-center">
      <form class="form-inline" method="get">
        <input class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search" name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <div class="row">
    {% for project in projects["hits"]["hits"] %}
        <div class="col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ project["_source"]["product_name"] }}</h5>
                    {% if project["_source"]["image_url"] != null %}
                      <img class="card-text" src={{ project["_source"]["image_url"] }}>
                    {% endif %}
                    {% for info in project["_source"] %}
                      {% if (project["_source"][info] != "null") and
                        (info not in ["image_url", "image_small_url"]) %}
                        <p class="card-text">{{ info.capitalize().replace("_", " ").replace("-", " ") }}: {{ project["_source"][info] }}</p>
                      {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
