<div class="container">
    <div class='row'>
        <div class='col-2'></div>

        <div class='col-8'>
             <div class="card shadow">
                <div class="card-body">
                    <input type='search' id='ajaxSearch' placeholder='pomme, poire...'></input>
                    <input type='submit' id='ajaxSubmit' value='Rechercher'></input>
                    
                    <canvas id="myChart3" width="200" height="200"></canvas>
                    <div id="eheh"></div>
                </div>
            </div>
        </div>

        <div class='col-2'></div>
    </div> 
</div>